body {
  margin: 0;
  background-color: #363636;
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/pic.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  min-width: 280px;
  margin: 2rem;
  background-size: 408px 398px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  color: #a60000;
  font-size: 2rem;
  font-weight: 300;
}

.item {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  max-width: 600px;
}

div.item:first-of-type {
  margin-top: 4rem;
}

div.item:last-of-type {
  margin-top: 0.5rem;
  max-width: 450px;
}

.info {
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 992px) {
  body {
    background-size: 308px 300.45px;
    margin: 1rem;
  }
  .container {
    font-size: 1.5rem;
  }

  .item {
    margin-top: 1rem;
  }
  div.item:first-of-type {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 208px 202.9px;
    margin: 1rem;
  }
}
